*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.titles{
    font-family: 'DM Serif Display', serif;
}
.menu{
    font-weight: 700;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    color: #837d87;
    text-align: center;
    width: 150px;
    transition: all .2s linear;
}
.menu li:hover{
    cursor: pointer;
    color: #2d2640;
    border: 3px solid #2d2640;
}
.li-fixed{
    color: #2d2640;
    border: 3px solid #2d2640;
}
.header{
    height: 90px;
}
