*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.titles{
    font-family: 'DM Serif Display', serif;
}
.menu{
    font-weight: 700;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    text-align: center;
    width: 150px;
    transition: all .2s linear;
}
.menu li:hover{
    cursor: pointer;
    border: 2px solid #000;
}
.header{
    height: 100px;
    background-color: #ffffff;
}
