*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.titles{
    color: #ffffff;
    font-size: 5.5em;
    font-family: 'DM Serif Display', serif;
}
.menu{
    font-weight: 700;
}
.menu ul{
    display: flex;
    list-style: none;
}
.nav-li-fixed{
    width: 150px;
    text-align: center;
    border: 3px solid #2d2640;
    transition: all .2s linear;
}
.nav-li-fixed a{
    text-decoration: none;
    color: #2d2640;
}
.nav-li-fixed a:hover{
    color: #ffffff;
}
.nav-li-fixed:hover{
    cursor: pointer;
    color: #837d87;
    background-color: #2d2640;
}
.nav-li, .nav-li a{
    color: #837d87;
    text-decoration: none;
    text-align: center;
    width: 25%;
    transition: all .2s linear;
}
.nav-li:hover, .nav-li a:hover{
    cursor: pointer;
    color: #2d2640;
}
.header{
    height: 90px;
}
.menu-open{
    display: none;
}
.desc{
    height: 600px;
    background: #2d2640;
}
.desc-items{
    flex-direction: row-reverse;
}
.desc-line {
    width: 185px;
}
.desc-line hr{
    color: #ffffff;
    border: 2px solid #fff;
}
.texts{
    color: #ffffff;
    font-size: 1.5em;
}
.plans-button{
    width: 200px;

}
.plans-button a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px 35px;
    border: 3px solid #fff;
    transition: all .2s ease-in-out;
}
.plans-button a:hover{
    background-color: #fff;
    color: #000;
}
.desc-image{
    background-color: black;
    height: 680px;
    background-image: url('../images/image-intro-desktop.jpg');
    background-size: cover;
}
@media(max-width: 500px){
    .logo{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-img{
        height: 22px;
    }
    .menu-open{
        display: inline-flex;
    }
    .icon-menu-close-hidden{
        display: none;
    }
    .icon-menu-open-hidden{
        display: none;
    }
    .icon-menu-open{
        display: initial;
    }
    .icon-menu-close{
        display: initial;
    }
    #navbar-open{
        display: initial;
        transform: translateX(0);
    }
    .menu{
        z-index: 99999;
        position: absolute;
        left: 0;
        width: 100%;
        height: 87vh;
        display: none;
        background:  #2d2640 url('../images/bg-pattern-mobile-nav.svg') no-repeat bottom right;
        transform: translateX(100%);
    }
    .menu ul{
        margin: 0;
        padding: 0;
        flex-direction: column;
        height: 220px;
    }
    .nav-li{
        color: #ffffff;
        width: 100%;
    }
    .nav-li:hover{
        cursor: pointer;
        color: #ffffff;
        border: 2px solid #ffffff;
    }
    .nav-li-fixed{
        width: 100%;
        color: #ffffff;
        border: 2px solid #ffffff;
    }
    .nav-li-fixed:hover{
        color: #ffffff;
        border: 2px solid #949494;
    }
    .nav-li a{
        color: #ffffff;
        width: 100%;
    }
    .nav-li-fixed a{
        color: #ffffff;
    }
    .desc-image{
        position: absolute;
        z-index: 2;
        left: 0;
        top: 42px;
        width: 100%;
        height: 80%;
        background-image: url('../images/image-intro-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .desc-line{
        display: none;
    }
    .titles{
        font-size: 3.3em;
    }
    .texts{
        text-align: justify;
        font-size: 1.8em;
    }
    .desc{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 250px;
        height: 600px;
    }
    .desc-texts{
        font-size: 60%;
    }
    .plans-button{
        margin: auto;
    }




}